{% extends 'base/main_base.html' %}

{% block title %}
{{ title }} | 傾着物
{% endblock %}


{% block main_content %}
{% endblock %}

{% block side_content %}
    <div class="side-content">
        <h4 class="side-title">Recent Posts</h4>
        {% for info in infos|slice:":5" %}
            <p><a href='{% url 'info_detail' info.id %}'>{{ info.title }}</a></p>
        {% endfor %}
    </div>
    <div class="side-content">
        <h4 class="side-title">Category</h4>
        {% for news_category in news_categories %}
            <p><a href="{% url 'info_category' news_category.id %}">{{ news_category.name }}</a></p>
        {% endfor %}
    </div>
    <div class="side-content">
        <h4 class="side-title">Archive</h4>
    </div>
{% endblock %}

{% block below_content %}
    <div class="side-content">
        <h4 class="side-title">Recent Posts</h4>
        {% for info in infos|slice:":5" %}
            <p><a href='{% url 'info_detail' info.id %}'>{{ info.title }}</a></p>
        {% endfor %}
    </div>
    <div class="side-content">
        <h4 class="side-title">Category</h4>
        {% for news_category in news_categories %}
            <p><a href="{% url 'info_category' news_category.id %}">{{ news_category.name }}</a></p>
        {% endfor %}
    </div>
    <div class="side-content">
        <h4 class="side-title">Archive</h4>
    </div>
{% endblock %}