{% extends 'base/base.html' %}

{% block title %}
{{ title }} | 傾着物
{% endblock %}



{% block content %}
<div class="flex">
    <div class='col-xs-3 hidden-sm hidden-xs side-container left-container'>
        {% include 'parts/shop_side.html' %}
    </div>
    
    <div class="col-xs-12 col-md-9 product-container">
        {% block product_list %}
        {% endblock %}
    </div>
    
    <div class='col-xs-12 hidden-md hidden-lg side-container'>
        {% include 'parts/shop_side.html' %}
    </div>
</div>
{% endblock %}