{% load humanize %}
{% load boost %}

<div class="side-content">
    <h4 class="side-title">Category</h4>
    {% for category in categories %}
        <p><a href='{% url 'category' category.id %}'>{{ category.name }}</a></p>
    {% endfor %}
    <p><a href="{% url 'shop' %}">全て</a></p>
</div>
<div class="side-content">
    <h4 class="side-title">Cart</h4>
    {% for cart_product, num in cart_products|zip:amount %}
        <div class="cart-product flex">
            <div class="col-xs-4">
                <span class="image" style="background-image: url('{{ cart_product.image.url }}')"></span>
            </div>
            <div class="col-xs-6 cart-info">
                <h5><a href="{%url 'product_detail' cart_product.id %}">{{ cart_product.name }}</a></h5>
                <span>{{ num }} × ¥{{ cart_product.price | intcomma }}</span>
                <!--
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="number" name="number" value="{{ num }}" size="">
                    <input type="hidden" name="product-id" value="{{ cart_product.id }}">
                    <input type="submit" class="btn" name="update" value="変更">
                </form>
                -->
            </div>
            <div class="col-xs-1 cart-info">
                <form method="post" action="{% url 'cart_delete' cart_product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="clear-decoration" value=""><i class="trash trash-pos fas fa-trash"></i></button>
                </form>
            </div>
        </div>
    {% empty %}
        <p>カートに商品がありません</p>
    {% endfor %}
    {% if total_price != 0 %}
        <div class="">
        <p class="col-xs-12 text-right">合計: ¥{{ total_price | intcomma }}<p>
        <p class="text-right"><a href="{% url 'cart' %}" class="custom-btn">カートを見る</a></p>
        </div>
    {% endif %}
    

    
</div>
<div class="side-content">
    <h4 class="side-title">Search</h4>
    
    <form method="get" class="" action="{% url 'shop' %}">
    	<input name="search" value="{{ request.GET.query }}" type="text" class="form-control" placeholder="商品検索">
    	<button class="hidden" type="submit">検索</button>
    </form>
    
</div>
<div class="side-content">
    <h4 class="side-title">Shopping Guide</h4>
    <p><a href="">配送・送料</a></p>
    <p><a href="">お支払い方法</a></p>
    <p><a href="">ご利用規約</a></a></p>
    <p><a href="">特定商取引法</a></p>
    <p><a href="">プライバシーポリシー</a></p>
</div>