p {
    font-size: 14px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: line-through;
}


.header-list {
    margin-top: 20px;
}

.header-list ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
}

.header-list li {
    vertical-align: middle;
    float: left;
    text-align: center;
    flex-grow: 1;
    font-size: 13px;
}


ul {
    list-style: none;
    padding-left: 0px;
}

footer {
    margin: 20px 0px 20px 0px;
}
footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
}

footer li {
    vertical-align: middle;
    float: left;
    text-align: center;
    flex-grow: 1;
}

.header-logo {
    text-align: center;
}



.sub-title {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-top: 20px;
    margin: 0 auto;
}

.underline {
    border-bottom: 1px solid gray;
    width: 70px;
    margin: 0 auto;
}

/*--------------------------------------------*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

main {
    margin: 0 auto;
}

.product {
    margin-bottom: 20px;
}

.non-title-container {
    margin-top: 60px;
}

.side-container h4 {
    text-align: center;
    border: 1px solid black;
    padding: 3px 0px;
}

.product-detail-container {
    margin: 60px 0 20px;
}


img {
    border: 1px solid black;
}

.show-all a {
    border: 1px solid black;
    display: block;
    padding: 3px 0px;
}

.side-container p {
    margin-left: 10px;
}

.side-content {
    margin-bottom: 30px;
}

.side-content:hover .side-title {
    background: black;
    color: white;
    transition: 1.0s;
}


.image {
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.faved {
    color: gold;
}


.info {
    border: 1px solid black;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    margin-bottom: 30px;
    position: relative;
}

.price {
    color: green;
}

.a-submit:hover {
    text-decoration: line-through;
}

.product-container {
    position: relative;
}

.paginator {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.img-container {
    position: relative;
}

.hidden-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.img-container:hover .hidden-btn {
    opacity: 1;
}

.errorlist li {
    color: red;
}

.error {
    color: red;
}

.comment-area {
    margin-top: 60px;
    border-top: 1px solid gray;
}

.comment {
    border-bottom: 1px solid gray;
    padding: 20px 10px;
}

.non-comment {
    padding: 20px 10px;
}

.clear-decoration {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}

.fav-btn {
    font-size: 20px;
}

.custom-btn {
    background: white;
    border-radius: 4px;
    border: 1px solid black;
    padding: 7px 20px;
}

.custom-btn:hover {
    background: black;
    color: white;
    transition: 1.0s;
    text-decoration: none;
}

.cart-info {
    padding-right: 0;
}

.cart-info button {
    float: left;
}

.cart-product {
    margin-bottom: 10px;
}

form input, form textarea{
    margin-bottom: 20px;
}

.sort-box {
    padding: 15px;
}

.cart-image {
    margin: 10px 0;
}

.cart-table {
    border: 1px solid black;
    margin-top: 50px;
}

table {
    border: 1px solid black;
    margin-bottom: 20px;
}

.trash {
    font-size: 13px;
}

.trash-pos {
    margin-top: 21px;   
}

.main-container {
    margin-top: 15px;
}

.account-container {
    margin-top: 20px;
}

.account-info td {
    padding: 10px;
}

.edit-btn {
    margin-bottom: 20px;
}

.confirm-btn {
    float: left;
}

.close-btn {
    margin-top: 70px;
}

.info {
    border: 1px solid black;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 75%;
    margin-bottom: 30px;
    position: relative;
}

.info-image {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 75%;
    border: 1px solid #ccc;
    background-size: cover;
}


.info-title {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    
}


