{% extends 'base/base.html' %}

{% load humanize %}
{% load boost %}

{% block title %}
{{ title }} | 傾着物
{% endblock %}



{% block content %}
<div class="col-xs-12 col-md-8 col-md-offset-2">
    {% if cart_products %}
     <table class="cart-table col-xs-12" rules="rows">
        <tr>
            <th class="col-xs-1"></th>
            <th class="col-xs-2 col-md-1"></th>
            <th class="col-xs-5 col-md-6 text-center">商品</th>
            <th class="col-xs-1 text-center">価格</th>
            <th class="col-xs-1 text-center">数量</th>
        </tr>
        {% for cart_product, num in cart_products|zip:amount %}
            <tr>
                <td>
                    <form method="post" action="{% url 'cart_delete' cart_product.id %}" class="text-center">
                        {% csrf_token %}
                        <button type="submit" class="clear-decoration" value=""><i class="trash fas fa-trash"></i></button>
                    </form>
                </td>
                <td>
                    <div class="col-xs-12">
                        <span class="image cart-image" style="background-image: url('{{ cart_product.image.url }}')"></span>
                    </div>
                </td>
                <td><a href="{%url 'product_detail' cart_product.id %}">{{ cart_product.name }}</a></td>
                <td class="text-center">¥{{ cart_product.price | intcomma }}</td>
                <td class="text-center">{{ num }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <h3 class="text-center">カートに商品がありません</h3>
        <p class=""><a href="{% url 'shop' %}" class="custom-btn">ショップに戻る</a></p>
    {% endif %}
    </table>
    {% if total_price != 0 %}
        <div class="sum-table">
            <table class="col-xs-6 col-xs-offset-6" rules="rows">
                <tr>
                    <td>小計</td>
                    <td>¥{{ total_price | intcomma }}</td>
                </tr>
                <tr>
                    <td>送料</td>
                    <td>無料</td>
                </tr>
                <tr>
                    <td>合計</td>
                    <td>¥{{ total_price | intcomma }}</td>
                </tr>
            </table>
        </div>
        <p class="text-right" ><a href="{% url 'cart' %}" class="buy-btn custom-btn">購入手続き</a></p>
    {% endif %}
</div>
{% endblock %}