{% extends 'base/base.html' %}

{% load humanize %}
{% load boost %}

{% block title %}
{{ title }} | 傾着物
{% endblock %}



{% block content %}
<div class="col-xs-8 col-xs-offset-2">
    {% for cart_product, num in cart_products|zip:amount %}
        <div class="cart-product flex">
            <div class="col-xs-5">
                <span class="image" style="background-image: url('{{ cart_product.image.url }}')"></span>
            </div>
            <div class="col-xs-7">
                <a href="{%url 'product_detail' cart_product.id %}">{{ cart_product.name }}: ¥{{ cart_product.price | intcomma }}</a>
                <p>個数: {{ num }}</p>
                <form method="post" action="{% url 'cart_delete' cart_product.id %}">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="削除">
                </form>
            </div>
        </div>
        {% if total_price != 0 %}
            <p>Total price: ¥{{ total_price | intcomma}}<p>
        {% endif %}
    {% empty %}
        <p>カートに商品がありません</p>
    {% endfor %}
</div>
{% endblock %}