{% extends 'base/base.html' %}



{% block title %}
{{ title }} | 傾着物
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="col-xs-12">
    <h2>お問い合わせフォーム</h2>
    {% if request.method == 'POST' %}
    {{ message }}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field.errors }}
            {{ field }}
        {% endfor %}
        <input type="submit" class="custom-btn" value="送信">
    </form>
    </div>
    </div>
{% endblock %}