{% extends 'base/main_base.html' %}

{% block main_content %}
    <h2>News</h2>
    {% for info in infos %}
        <p><a href='{% url 'info_detail' info.id %}'>{{ info.title }}</a></p>
    {% endfor %}
{% endblock %}

{% block side_content %}
<a class="twitter-timeline" data-height="1000" href="https://twitter.com/Death_Tod?ref_src=twsrc%5Etfw">最新情報随時公開中</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

{% block below_content %}
<a class="twitter-timeline" data-height="1000" href="https://twitter.com/Death_Tod?ref_src=twsrc%5Etfw">最新情報随時公開中</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
        