{% extends 'base/main_base.html' %}

{% block main_content %}
    <h2>News</h2>
    {% for info in infos %}
            <div class="col-xs-12 col-sm-6">
                <div class="info">
                    <a href='{% url 'info_detail' info.id %}'>
                        <p class="info-image" style="background-image: url('{{ info.primary_image.url }}')"></p>
                        <div class="info-title">
                            <h3 class="text-center">{{ info.title }}</h3>
                            <div class="text-center">{{ info.published_at }} / 
                                {% for category in info.category.all %}
                                    {% if forloop.last %}
                                        {{ category.name }}
                                    {% else %}
                                        {{ category.name }}, 
                                    {% endif %}
                                {% endfor %}
                                <div class="text-center">{{ info.text | safe |truncatechars:50}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    {% endfor %}
{% endblock %}

{% block side_content %}
<a class="twitter-timeline" data-height="1000" href="https://twitter.com/Death_Tod?ref_src=twsrc%5Etfw">最新情報随時公開中</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}

{% block below_content %}
<a class="twitter-timeline" data-height="1000" href="https://twitter.com/Death_Tod?ref_src=twsrc%5Etfw">最新情報随時公開中</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
        