{% extends 'base/main_base.html' %}

{% block title %}
{{ title }} | 傾着物
{% endblock %}


{% block main_content %}
    {% for category in info.category.all %}
    <a class="custom-btn" href="{% url 'info_category' category.id %}">{{ category.name }}</a>
    {% endfor %}
    <p>{{ info.text | safe }}</p>
    <div class="comment-area">
        {% for comment in comments %}
            <div class="comment">
                <div class="row">
                <strong class="col-xs-3">{{ comment.author }}</strong>
                <div class="col-xs-9 text-right">{{ comment.created_at }}</div>
                </div>
                <div>{{ comment.text | linebreaks }}</div>
            </div>
        {% empty %}
            <p class="non-comment">まだコメントはありません (・_・、)</p>
        {% endfor %}
        <div class="row">
        <div class="col-xs-12 col-sm-6">
        <h4>コメントを投稿</h4>
        <form method="POST" class="">
            {% csrf_token %}
            {% for field in form %}
                <label>{{ field.label }}</label>
                {{ field.errors }}
                {{ field }}
            {% endfor %}
            <input type="submit" class="save custom-btn" value="送信"></input>
        </form>
        </div>
        </div>
    </div>
{% endblock %}

{% block side_content %}
    {% include 'parts/info_sidebar.html' %}
{% endblock %}
    
{% block below_content %}
    {% include 'parts/info_sidebar.html' %}
{% endblock %}