{% extends 'base/shop_base.html' %}

{% load humanize %}

{% block title %}
{{ title }} | 傾着物
{% endblock %}

{% block product_list %}
<div class="product-detail-container">
    <div class="row">
        <div class="col-xs-12">
            <p><a href="{% url 'shop' %}">ALL</a> > <a href="{% url 'category' product.category.id %}">{{ product.category.name }}</a></p>
        </div>
    </div>
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 image-area">
            <p class="image" style="background-image: url('{{ product.image.url }}')"></p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="description-parts">
                <h4 class="product-label">ブランド</h4>
                <p>{{ product.brand }}</p>
            </div>
                <div class="description-parts">
                <h4 class="product-label">素材</h4>
                <p>{{ product.material }}</p>
            </div>
            <div class="description-parts">
                <h4 class="product-label">商品説明</h4>
                <p>{{ product.description | linebreaks}}</p>
            </div>
            <div class="description-parts">
                <h4 class="product-label">価格</h4>
                <p class="price">¥{{ product.price | intcomma }}</p>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    {% include 'parts/fav_btn.html' %}
                </div>
                <!--カート機能-->
                <div class="cart-btn col-xs-9">
                    {% if product.quantity != 0 %}
                    <form method="post" action="{% url 'cart_add' product.id %}">
                        {% csrf_token %}
            	        <input type="submit" class="add-to-cart custom-btn" value="カートに追加">
            	    </form>
            	    {% else %}
                        <button type="" class="custom-btn button">Sold out</button>
            	    {% endif %}
        	    </div>
        	    <!--カートここまで-->
    	    </div>
        </div>
    </div>
    
</div>
{% endblock %}
        