{% extends 'base/shop_base.html' %}

{% load humanize %}

{% block title %}
{{ title }} | 傾着物
{% endblock %}

{% block product_list %}
<div class="">
    <div class="row">
        <div class="col-xs-12">
            <p><a href="{% url 'shop' %}">ALL</a> > <a href="{% url 'category' product.category.id %}">{{ product.category.name }}</a></p>
        </div>
    </div>
    <div class="row flex">
        <div class="col-xs-12 col-sm-6 image-area">
            <p class="image" style="background-image: url('{{ product.image.url }}')"></p>
        </div>
        <div class="col-xs-12 col-sm-6 product-des-1">
            <h4>ブランド名</h4>
            <p>{{ product.brand }}</p>
            <h4>素材</h4>
            <p>{{ product.material }}</p>
            <h4>商品説明</h4>
            <p>{{ product.description | linebreaks}}</p>
            <h4>価格</h4>
            <p class="price">¥{{ product.price | intcomma }}</p>
            <div class="row">
                <!--お気に入りボタン-->
                <div class="fav-btn col-xs-1">
                    {% if user.is_authenticated %}
                        {% if product in user.favorite_products.all %}
                            <form action="{% url 'unfavorite' product.id %}" method="post">
                                <button type="submit" name="button" class="clear-decoration">
                                    <i class="fas fa-star faved"></i>
                                </button>
                                {% csrf_token %}
                            </form>
                        {% else %}
                            <form action="{% url 'favorite' product.id %}" method="post">
                                <button type="submit" name="button" class="clear-decoration">
                                    <i class="far fa-star"></i>
                                </button>
                                {% csrf_token %}
                            </form>
                        {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}">
                        <button type="submit" name="button" class="clear-decoration">
                            <i class="far fa-star"></i>
                        </button>
                        {% csrf_token %}
                    </a>
                    {% endif %}
                </div>
                <!--お気に入りボタンここまで-->
                <!--カート機能-->
                <div class="cart-btn col-xs-9">
                    {% if product.quantity != 0 %}
                    <form method="post" action="{% url 'cart_add' product.id %}">
                        {% csrf_token %}
            	        <input type="submit" class="button" value="カートに追加">
            	    </form>
            	    {% else %}
                        <button type="" class="button">Sold out</button>
            	    {% endif %}
        	    </div>
        	    <!--カートここまで-->
    	    </div>
        </div>
    </div>
    
</div>
{% endblock %}
        